kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app.kubernetes.io/name: ibm-monitoring
    app.kubernetes.io/instance: common-monitoring
    app.kubernetes.io/managed-by: ibm-monitoring-exporters-operator
  name: ibm-monitoring-exporters-operator
subjects:
- kind: ServiceAccount
  name: ibm-monitoring-exporters-operator
  namespace: ibm-common-services
roleRef:
  kind: ClusterRole
  name: ibm-monitoring-exporters-operator
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app.kubernetes.io/name: ibm-monitoring
    app.kubernetes.io/instance: common-monitoring
    app.kubernetes.io/managed-by: ibm-monitoring-exporters-operator
  name: ibm-monitoring-exporter
subjects:
- kind: ServiceAccount
  name: ibm-monitoring-exporter
  namespace: ibm-common-services
roleRef:
  kind: ClusterRole
  name: ibm-monitoring-exporter
  apiGroup: rbac.authorization.k8s.io
